.App {
  display: grid;
  height: 100vh;
  text-align: center;
  grid-template-rows: auto 1fr auto;
}

.App-header {
  color: black;
}
main {
  display: flex;
  place-items: center;
  flex-direction: column;
  justify-content: center;
}

#getFile {
  text-align-last: center;
  margin-top: 20px;
  padding: 12px 25px;
}

button {
  margin: 30px;
  padding: 8px 25px;
}
button:hover {
  cursor: pointer;
}
